$accent:  #82d0f7
$code-bg: #161616
$code-fg: #b1b0b1
$main-bg: #2a2a2e
$main-fg: #dfdfdf


\:root
  --text-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  --code-font: "Hack", "Menlo", "DejaVu Sans Mono", "Droid Sans Mono", "Monaco", "Courier New", monospace

  --accent:  #{$accent}
  --code-bg: #{$code-fg}
  --code-fg: #{$code-bg}
  --main-bg: #{$main-fg}
  --main-fg: #{$main-bg}

  --header: #{lighten($main-bg, 50%)}

  --link: #4078f2
  --link-visited: #0184bc
  --link-hover: #986801

  --title-border: darken($main-fg, 15%)

  --tt-fg: #{$code-bg}
  --tt-bg: #{darken(#fafafa, 5%)}

  --pre-bg: #fafafa
  --pre-fg: #{$code-bg}

  --year: lighten($main-bg, 40%)
  --date: $main-bg
  --published: darken($main-fg, 20%)

  --code-commment:  #a0a1a7
  --code-string:    #50a14f
  --code-symbol:    #4078f2
  --code-keyword:   #a626a4
  --code-keyword2:  #a626a4
  --code-number:    #c18401
  --code-ivar:      #e45649
  --code-constant:  #986801
  --code-css-prop:  #4078f2
  --code-def-func:  #4078f2
  --code-yaml-key:  #ca1243
  --code-regex:     #0184bc

@media screen and (prefers-color-scheme: dark)
  \:root

    --accent:  #{$accent}
    --code-bg: #{$code-bg}
    --code-fg: #{$code-fg}
    --main-bg: #{$main-bg}
    --main-fg: #{$main-fg}

    --header: #{lighten($main-fg, 10%)}

    --link: #{$accent}
    --link-visited: #{darken($accent, 10%)}
    --link-hover: #{lighten($accent, 10%)}

    --title-border: lighten($main-bg, 15%)

    --tt-fg: #{lighten($main-fg, 10%)}
    --tt-bg: #{darken($main-bg, 10%)}

    --pre-bg: #{$code-bg}
    --pre-fg: white

    --year: #{lighten($main-fg, 10%)}
    --date: #{$main-fg}
    --published: #{darken($main-fg, 20%)}

    --code-comment:   #888888
    --code-string:    #99ad6a
    --code-symbol:    #7697d6
    --code-keyword:   #6699cc
    --code-keyword2:  #8fbfdc
    --code-number:    #cf6a4c
    --code-ivar:      #c6b6ee
    --code-constant:  #ffb964
    --code-css-prop:  #fad07a
    --code-def-func:  #ffb964
    --code-yaml-key:  #c6b6ee
    --code-regex:     #dd0093
