@import "shared"

.post-title
  h2
    display: inline
  .published_on
    color: #7c7c7c
    font-size: 80%
    font-style: italic
    padding-left: 20px
    white-space: nowrap


.post-title h2, p.summary, p.read-more
  margin: 0
  line-height: 150%

.post-title
  margin-top: 35px

.post-title a
  color: #503e2b

.intro
  color: #808094
  font-style: italic
  line-height: 150%
