@import "shared"

.articles
  margin-top: 56px
  ul
    list-style-type: none
    margin: 0
    padding: 0
  p.year
    margin-top: 42px
    margin-bottom: 9px
  small
    font-size: 14px
    padding-right: 20px
    white-space: nowrap
    width: 60px
    display: inline-block
