@import "shared"

.published
  color: var(--published)
  font-size: 16px
  text-align: right
.post-body
  p
    text-align: justify
pre
  border-radius: 1rem
  overflow-x: auto
  background: var(--pre-bg)
  font-size: 16px
  color: var(--pre-fg)
  line-height: 1.6rem
  margin: 0 -2rem
  padding: 1.5rem 2rem
  @media screen and (max-width: 800px)
    border-radius: 0
  code
    background: transparent

@import "_gruvbox-light"

@media screen and (prefers-color-scheme: dark)
  @import "_gruvbox-dark"
