@import "shared"

.published
  color: var(--published)
  font-size: 16px
  text-align: right
.post-body
  p
    text-align: justify
pre
  border-radius: 1rem
  overflow-x: auto
  background: var(--pre-bg)
  font-size: 16px
  color: var(--pre-fg)
  line-height: 1.6rem
  margin: 0 -2rem
  padding: 1.5rem 2rem
  @media screen and (max-width: 800px)
    border-radius: 0
  code
    background: transparent
  .c1
    color: var(--code-comment)
  // string
  .s, .s1, .s2, .sx
    color: var(--code-string)
  // symbol
  .ss
    color: var(--code-symbol)
  // keywords?
  .nb
    color: var(--code-keyword)
  // keywords
  .k, .nb, .kp
    color: var(--code-keyword2)
  // numbers
  .mi
    color: var(--code-number)
  // instance vars
  .vi
    color: var(--code-ivar)
  // constant
  .nc, .no, .nn, .nl
    color: var(--code-constant)
  // css prop
  .nl
    color: var(--code-css-prop)
  // def function
  .k + .nf
    color: var(--code-def-func)
  // yaml key / tags
  .na, .nt
    color: var(--code-yaml-key)
  // regex
  .sr, .se
    color: var(--code-regex)
