@import "shared"

article
  header
    margin-bottom: 10px
.published
  color: darken($main-fg, 20%)
  margin-bottom: 54px
  font-size: 16px
  text-align: right
.post-body
  p
    text-align: justify
h2, h3
  margin-top: 42px
pre
  border-radius: 1rem
  overflow-x: auto
  background: $code-bg
  font-size: 16px
  color: white
  padding: 1.5rem 1.5rem
  margin: 0 -1.5rem
  line-height: 1.6rem
  code
    background: transparent
  .c1
    color: #888888
  // string
  .s, .s1, .s2, .sx
    color: #99ad6a
  // symbol
  .ss
    color: #7697d6
  // keywords?
  .nb
    color: #6699cc
  // keywords
  .k, .nb, .kp
    color: #8fbfdc
  // numbers
  .mi
    color: #cf6a4c
  // instance vars
  .vi
    color: #c6b6ee
  // constant
  .nc, .no, .nn, .nl
    color: #ffb964
  // css prop
  .nl
    color: #fad07a
  // def function
  .k + .nf
    color: #ffb964
  // yaml key / tags
  .na, .nt
    color: #c6b6ee
  // regex
  .sr, .se
    color: #dd0093
