@media screen and (prefers-color-scheme: dark) {
  pre, pre .w {
    color: #fbf1c7;
  }
  pre .err {
    color: #fb4934;
    font-weight: bold;
  }
  pre .c, pre .ch, pre .cd, pre .cm, pre .cpf, pre .c1, pre .cs {
    color: #928374;
    font-style: italic;
  }
  pre .cp {
    color: #8ec07c;
  }
  pre .nt {
    color: #fb4934;
  }
  pre .o, pre .ow {
    color: #fbf1c7;
  }
  pre .p, pre .pi {
    color: #fbf1c7;
  }
  pre .gi {
    color: #b8bb26;
  }
  pre .gd {
    color: #fb4934;
  }
  pre .gh {
    color: #b8bb26;
    font-weight: bold;
  }
  pre .k, pre .kn, pre .kp, pre .kr, pre .kv {
    color: #fb4934;
  }
  pre .kc {
    color: #d3869b;
  }
  pre .kt {
    color: #fabd2f;
  }
  pre .kd {
    color: #fe8019;
  }
  pre .s, pre .sb, pre .sc, pre .dl, pre .sd, pre .s2, pre .sh, pre .sx, pre .s1 {
    color: #b8bb26;
    font-style: italic;
  }
  pre .si {
    color: #b8bb26;
    font-style: italic;
  }
  pre .sr {
    color: #b8bb26;
    font-style: italic;
  }
  pre .sa {
    color: #fb4934;
  }
  pre .se {
    color: #fe8019;
  }
  pre .nn {
    color: #8ec07c;
  }
  pre .nc {
    color: #8ec07c;
  }
  pre .no {
    color: #d3869b;
  }
  pre .na {
    color: #b8bb26;
  }
  pre .m, pre .mb, pre .mf, pre .mh, pre .mi, pre .il, pre .mo, pre .mx {
    color: #d3869b;
  }
  pre .ss {
    color: #83a598;
  }
}
